[Unit]
Description=LTE power
After=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/root/utils/lte-pwr-on.sh
ExecStop=/root/utils/lte-pwr-off.sh

[Install]
WantedBy=multi-user.target
